asgiref==3.4.1; python_version >= "3.6"
django-model-utils==4.1.1
django-richtextfield==1.6.1; python_version >= "3.6"
django==3.2.5; python_version >= "3.6"
pillow==9.1.0; python_version >= "3.7"
pytz==2021.1; python_version >= "3.6"
sqlparse==0.4.1; python_version >= "3.6"
