<ul>
    {% for reply in replies %}
        <li>
            {{ reply.guest.name }}
            {% if reply.status == 'Y' or reply.status == 'M' %}
                {% if reply.extra_guests %}
                    + {{ reply.extra_guests }}
                {% endif %}
            {% endif %}
            {% if reply.comment %}
                <div class="comment">{{ reply.comment }}</div>
            {% endif %}
            {% if reply.has_viewed == True and request.user.is_staff %}
                <div class="spy">last viewed at {{ reply.modified }}</div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
