{% extends "base.html" %}
{% load i18n static %}
{% load debugtools_tags %}

{% block title %}{{ event.name }} {{ block.super }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'seevooplay/css/event.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ event.name }}</h1>

    <div class="event-image">
        <img alt="" src="{{ event.image.url }}">
    </div>

    <p class="greeting">
        {% if guest %}
            Greetings, {{ guest.name }}!
        {% else %}
            Greetings, admin {{ request.user.username }}!
        {% endif %}
    </p>
    <p>
        You are invited to the following event. Please let us know if you are coming below!
    </p>

    <table class="event-details">
        <tr><td>Event:</td><td>{{ event.name }}</td></tr>
        <tr><td>Host(s):</td><td>{{ event.host }}</td></tr>
        <tr>
            <td>When:</td>
            <td>
                {{ event.start_datetime }}
                {% if event.end_datetime %}
                    &ndash; {{ event.end_datetime }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Where:</td>
            <td>
                {{ event.location_name }}<br>
                {{ event.location_address }}
            </td>
        </tr>
        <tr><td>Details:</td><td>{{ event.details }}</td></tr>
    </table>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="bottom-container">
        <div class="reply-form">
            <h2>RSVP</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="field-wrapper {{ field.html_name }}">
                        {{ field.errors }}
                        {% if field.name != 'extra_guests' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% endif %}
                        {% if field.name == 'extra_guests' %}I will bring {% endif %}
                        {{ field }}
                        {% if field.name == 'extra_guests' %} people with me.{% endif %}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="submit" value="post my reply">
            </form>
        </div>

        <div class="replies">
            <h2>Replies</h2>
            <div class="replycount">
                <div class="yes">Yes: {{ yes_replies_count }}</div>
                <div class="maybe">Maybe: {{ maybe_replies_count }}</div>
                <div class="no">No: {{ no_replies.count }}</div>
                <div class="none">No Reply: {{ none_replies.count }}</div>
            </div>
            <div class="replyhed">Yes</div>
            {% with yes_replies as replies %}
                {% include 'seevooplay/event_replies.html' %}
            {% endwith %}
            <div class="replyhed">Maybe</div>
            {% with maybe_replies as replies %}
                {% include 'seevooplay/event_replies.html' %}
            {% endwith %}
            <div class="replyhed">No</div>
            {% with no_replies as replies %}
                {% include 'seevooplay/event_replies.html' %}
            {% endwith %}
            <div class="replyhed">No reply</div>
            {% with none_replies as replies %}
                {% include 'seevooplay/event_replies.html' %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
