{% load i18n %}
<ul>
    {% for reply in replies %}
        <li>
            {{ reply.guest.name }}
            {% if reply.status == 'Y' or reply.status == 'M' %}
                {% if reply.extra_guests %}
                    + {{ reply.extra_guests }}
                {% endif %}
            {% endif %}
            {% if reply.comment %}
                <div class="comment">{{ reply.comment }}</div>
            {% endif %}
            {% if reply.has_viewed and request.user.is_staff %}
                <div class="spy">{% blocktrans with modified=reply.modified %}last viewed at {{ modified }}{% endblocktrans %}</div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
