tr.dynamic-reply_set > td:first-child > p {
  display: none;
}

.inline-group .tabular tr.has_original td {
  padding-top: 1em;
}

.form-row .fieldBox {
  width: 600px;
}
.trumbowyg-box {
  min-height: unset;
  max-height: 200px;
}
