tr.dynamic-reply_set > td:first-child > p {
  display: none;
}

.inline-group .tabular tr.has_original td {
  padding-top: 1em;
}

.form-row .fieldBox {
  width: 620px;
}
.trumbowyg-box,
.trumbowyg-editor {
  min-height: unset;
}

.form-row .datetime input.vDateField {
  margin-left: 7px;
}
.datetime .vDateField,
.datetime .vTimeField {
  min-width: 5rem;
  width: 5rem;
}
